body {
  background-color: #35495e;
  font-family:"Lucida Console", Monaco, monospace;
  font-size:100%;
}


p {
  color: #ffff;
  font-family: "Lucida Console", Monaco, monospace;
}

td {
  color: #ffff;
  font-family: "Lucida Console", Monaco, monospace;
}

ul {
  color: #ffff;
  font-family: "Lucida Console", Monaco, monospace;
}

hr {
  border-style: none;
  border-top-style: dotted;
  width: 30%;
  border-color: #ffff;
  border-width: 10px;
}

h1 {
  color: #ee8572;
  font-size: 2.5em;
  font-family: "Lucida Console", Monaco, monospace;
  letter-spacing: 2px;
}

h2 {
  color: #ee8572;
  font-size: 1.85em;
  font-family: "Lucida Console", Monaco, monospace;
  letter-spacing: 2px;
}

h3{
  color: #ee8572;
  font-size: 1.25em;
  font-family: "Lucida Console", Monaco, monospace;
}

a:link {
  color: #63b7af;
  font-size: 100%;
   text-decoration: none;

}

a:visited {
  color: #63b7af;
  font-size: 100%;
   text-decoration: none;

}

a:hover {
  color: #347474;
  font-size: 100%;
  text-decoration: underline;
}
